others
output/plots
output/bayes
Archive
scripts/plots
scripts/design_points
scripts/pickle_files
swap

*.dat
*.out
*.x
*.png
*.pkl
*.pdf
*.pyc

*.ipch
*.bin
bin/
build/
__pycache__/

.ipynb_checkpoints/
psuedocode.txt
.nvimlog

Debug_Plots.ipynb
useful_for_calculations.ipynb
plots_and_debug.ipynb
Storring_Old_Plots.ipynb
Logbook.ipynb
TestingModule.ipynb
plotting.ipynb

TestingModule.py

comparison_e.pdf
cmdln_out.txt
emulator_scores.txt
HydroBayesianAnalysis_DebugOutput.txt
scripts/__pycache__/HydroBayesianAnaylsis.cpython-39.pyc
scripts/toy_problem.py
full_outputs
old_notebooks
output/test

.clangd/
.cache
3rd_party/armadillo-code/
compile_commands.json
fmt/
