[submodule "3rd_party/fmt"]
	path = 3rd_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "3rd_party/armadillo-code"]
	path = 3rd_party/armadillo-code
	url = https://gitlab.com/conradsnicta/armadillo-code.git
