others/
output/plots/*
output/bayes
Archive/
scripts/plots/*

*.dat
*.out
*.x
*.png
*.pkl

*.ipch
*.bin
bin/
build/

.ipynb_checkpoints/
psuedocode.txt

Debug_Plots.ipynb
useful_for_calculations.ipynb
plots_and_debug.ipynb
Storring_Old_Plots.ipynb
Logbook.ipynb
TestingModule.ipynb


comparison_e.pdf
plotting.ipynb
cmdln_out.txt
emulator_scores.txt
